<div class="container-fluid mt-3">
    <div class="row py-5">
        <div class="col-md-2 text-center">
            <div class="item ">
                <h2>location</h2>
                <ul class="list-unstyled ">
                    <li>cairo</li>
                    <li>matrouh</li>
                    <li>sf</li>
                    <li>egypt</li>
                    <li>india</li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <h2>quick links</h2>
            <ul class="list-unstyled ">
                <li>home</li>
                <li>about</li>
                <li>gallary</li>
                <li>contact</li>
                <li>footer</li>
            </ul>
        </div>
        <div class="col-md-2 text-center">
            <h2>contacts</h2>
            <ul class="list-unstyled ">
                <li>+94 12 3456 789</li>
                <li>+94 25 5568456</li>
                <li>+94 25 5568456</li>
                <li>+94 25 5568456</li>
                <li>+94 25 5568456</li>
            </ul>
        </div>
        <div class="col-md-3 text-center">
            <h2>our service</h2>
            <ul class="list-unstyled ">
                <li>Easy Payments</li>
                <li>delivary</li>
                
                <li>24 x 7 Service</li>
               
            </ul>
        </div>
        <div class="col-md-2 text-center">
            <h2>follows</h2>
            <div class="icons text-center">
                <i class="fa-brands fa-facebook mx-1"></i>
                <i class="fa-brands fa-youtube mx-1"></i>
                <i class="fa-brands fa-twitter mx-1"></i>
                <i class="fa-brands fa-instagram mx-1"></i>
              </div>
        </div>
    </div>
</div>
