<div class="container mt-5">
  <div class="row flex-wrap justify-content-around align-items-center">
    <div class="col-md-6">
      <img src="../../assets/Food-Plate.png" width="600px" alt>
    </div>
    <div class="col-md-5">
      <h2 class="my-3"><span>About</span>  Us</h2>
      <h3 class="my-3 fw-bold">Why Choose us?</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita,
        est. Doloremque sapiente veritatis laboriosam corrupti optio et maxime.
        Ad, amet explicabo eaque labore cupiditate quasi nostrum nemo recusandae
        id quibusdam? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Doloremque ab, dolores pariatur cum exercitationem, illo nisi veritatis
        vitae ea deleniti fugiat quisquam tempora, accusantium corrupti
        excepturi optio. Inventore, cupiditate recusandae.</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <button class="btn btn-dark">Order now</button>
    </div>
  </div>


</div>
