:root
{
--main-color:"#fff";
--secondary-color:#FAC031
}
.icons i:hover{
  color: #FAC031;
}
.bg-body-tertiary
{
  background-color: var(--main-color) !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.nav-link:hover {
color:#FAC031 !important;
}
.navbar-nav .nav-link.active{
  color:black !important
}
.nav-item{

  position:relative;
}
.nav-link{
  font-weight:500;
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #FAC031;
  bottom: -5px;
  transition: .3s ease-in-out;
}
.nav-link:hover::before {
  width: 60%;
}
@media (max-width:576px)  {
.icons{
  display:none
}
.logo{
  margin-left: 0px !important;

}
}
@media (min-width:577px) and (max-width:768px) {
  .icons{
    display:none
  }
  .logo{
    margin-left: 0px !important;

  }}

  @media (min-width:769px) and (max-width:992px) {
    .icons{
      display:none
    }
    .logo{
      margin-left: 0px !important;

    }

    }
