
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
<img [src]="imgsrc1" class="ms-5 logo" width='80px'alt="logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 main-list">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="text-black" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="text-black">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="menu" routerLinkActive="text-black">menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gallery" routerLinkActive="text-black">gallary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reviews" routerLinkActive="text-black">review</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contacts" routerLinkActive="text-black">order</a>
        </li>
      </ul>
    </div>
    <div class="icons me-5">
      <i class="fa-solid fa-magnifying-glass px-1"></i>
      <i class="fa-solid fa-heart px-1"></i>
      <i class="fa-solid fa-basket-shopping px-1"></i>
    </div>
  </div>
</nav>
