<div class="container">
    <div class="row">
        <div class="col-md-6">
         <img src="../../assets/order_image (1).png" class="w-75" alt="">
        </div>
        <div class="col-md-6">
            <form>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="name" class="form-control" id="name" >
                
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" >
                    
                  </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputhowmuch1" class="form-label">how much</label>
                    <input type="number" class="form-control" id="exampleInputhowmuch1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputorder1" class="form-label"> your order</label>
                    <input type="order" class="form-control" id="exampleInputorder1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputaddress1" class="form-label">address</label>
                    <input type="address" class="form-control" id="exampleInputaddress1">
                  </div>
               
                <button type="submit" class="btn ">order me</button>
              </form>
           </div>
    </div>
</div>
