<div class="d-flex header justify-content-center align-items-center">
  <h3 class="fw-bold">Our <span>team</span></h3>
</div>

<div class="container-fluid">
  <div class="container mx-auto py-5">
    <div class="row justify-content-evenly align-items-center my-5 ">
      @for (chef of chefs; track $index) {
      <div
        class="col-md-3 col-lg-2 inner rounded-4 d-flex p-3 bg-white justify-content-center align-items-center flex-column"
      >
        <div class="item ">
          <img [src]="chef.imgsrc" class=" " alt="" />
          <div class="contant">
            <h4 class="text-center">{{ chef.name }}</h4>
            <p>{{ chef.decr }}</p>
            <div class="icons text-center">
              <i class="fa-brands fa-facebook mx-1"></i>
              <i class="fa-brands fa-youtube mx-1"></i>
              <i class="fa-brands fa-twitter mx-1"></i>
              <i class="fa-brands fa-instagram mx-1"></i>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
