<div class="container mt-5" >
  <div class="row justify-content-around align-items-center">
    <div class="col-md-4 ">
      <h1>Get Fresh <span>Food</span><br />
        in a Easy Way</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt,
        dolorem animi? Ut ratione veniam debitis laborum, quibusdam ex corrupti
        a dicta accusamus repellat maxime iusto repudiandae suscipit nostrum
        assumenda officiis dolorem labore? Dolor, velit voluptates tenetur culpa
        accusamus corporis nihil quae mollitia adipisci temporibus dicta
        molestias fuga eum voluptas, soluta cum voluptatum impedit earum
        obcaecati labore dolores atque provident expedita! Impedit, quae
</p>
<button class="btn fs-5 px-4 mt-5">order now <i class=" fs-5 fa-solid fa-arrow-right"></i></button>
    </div>
    <div class="col-md-6">
      <img src="./assets/main_img.png" width="600px" alt>
    </div>
  </div>
</div>

<app-about></app-about>
<app-menu></app-menu>
<app-gallary></app-gallary>
<app-reviews></app-reviews>


<app-contact></app-contact>
<app-team></app-team>
